.logo {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 40px;
  background: linear-gradient(91deg, #ee10b0 0%, rgba(14, 158, 239, 0.92) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aside {
  grid-area: aside;
  background: var(--bg-aside);
  height: 100%;
  padding: 50px 25px;
  min-width: 270px;
}

.aside_nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.aside_nav__content {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.aside_nav__title {
  font-size: 20px;
  color: var(--color-3);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  opacity: 0.6;
}

.aside_nav__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aside_nav__link {
  display: flex;
  align-items: baseline;
  gap: 4px;
  border: 1px solid transparent;
  border-radius: 9px;
  padding: 5px 0.5px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;

  &:hover {
    border: 1px solid var(--color-5);
    box-shadow: 0px 0px 10px 3px #FF3780;
    border-radius: 9px;

    background: rgb(215,3,144);
    background: linear-gradient(90deg, #d70390 0%, #71024c 100%);
  }
}
