@import "./normalize.scss";
@import "./fonts.scss";
@import "./variebles.scss";
@import './general.scss';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: inherit;
  color: inherit;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;
}

html,
body {
  position: relative;

  min-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
}

#root {
  min-height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  position: relative;

  background: var(--bg);
  color: var(--color);
  
}

main {
  flex: 1 0 auto;
}

.conteiner {
  max-width: var(--max-content-width);
  padding: var(--max-content-padding);
  margin: 0px auto;
  box-sizing: border-box;
  width: 100%;
}


.layout {
  width: 100%;
  min-height: 100vh;
  display: grid;

  grid-template-areas: "aside header" "aside main" "aside footer";
  grid-template-columns: 270px auto;
  grid-template-rows: 140px 1fr auto;
  column-gap: 20px;
}

.header {
  max-width: 1150px;
}

.main {
  grid-area: main;

}