:root {
  --max-content-width: 1440px;
  --max-content-padding: 0px 15px;

  --font-family: "Vazirmatn", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Just Another Hand", sans-serif;

  --bg: #412C3A;
  --bg-aside: #0e1920;
  
  --color: #ffffff;
  --color-2: #0e9eef;
  --color-3: #ee10b0;
  --color-4: #1e1e1e;
  --color-5: #F581EA;
}



